@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
/**
 * reset->reset
 *
 * Grey's CSS Reset v3 (Modified: 14th February 2014)
 * Combining, amongst my own changes, the very best of:
 * HTML5 Doctor's CSS reset (http://html5doctor.com/html-5-reset-stylesheet/)
 * The YUI 2 CSS Reset (http://developer.yahoo.com/yui/reset/)
 * Nicolas Gallagher's Normalize.css (http://necolas.github.com/normalize.css/) 
 * Accessible element hiding by Jonathan Snook (http://snook.ca/archives/html_and_css/hiding-content-for-accessibility) 
 * The best ampersand from Dan Cederholm (http://simplebits.com/notebook/2008/08/14/ampersands-2/)
 * Clearfix from Position Is Everything (http://www.positioniseverything.net/easyclearing.html)
 */
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body,
div, span, article, aside, figure, figcaption, footer, header, group, main, menu, nav, section,
object, embed, iframe, applet, audio, video, img, picture,
h1, h2, h3, h4, h5, h6,
p, blockquote, dl, dt, dd, ol, ul, li,
a, pre, abbr, address, cite, code, del, ins, dfn, em, kbd, q, samp, small, sub, sup, var, b, i, u, s, strong, time, mark, bdi, bdo, ruby, rt, rp,
form, fieldset, legend, label, input, button, select, textarea, keygen, output, progress, meter,
details, summary, command, menu,
table, thead, tbody, tfoot, caption, tr, th, td,
hr {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-size: inherit;
  font-style: normal;
  vertical-align: baseline; }

html {
  overflow-y: scroll;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch; }

body {
  width: 100%;
  background-color: transparent;
  font-size: 100%;
  line-height: 1; }

article, aside, figure, figcaption, footer, header, hgroup, main, nav, section, details {
  display: block;
  /* IE6-9, FF3 */ }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 0;
  border-top: 1px solid #ccc; }

audio, video, canvas {
  display: inline-block;
  /* IE8-9 */
  *display: inline;
  /* IE6-7, FF3 */
  *zoom: 1;
  /* IE6-7, FF3 */ }

img, picture, svg, audio, video, canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

img {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
  /* IE7-8 */ }

audio:not([controls]) {
  display: none; }

svg:not(:root) {
  overflow: hidden;
  /* IE9 */ }

figure {
  margin: 0;
  /* IE8-9, S5 */ }

a {
  background: transparent;
  /* IE10 */ }
  a:active, a:hover {
    outline: 0; }
  a:focus {
    outline: thin dotted;
    /* Chrome */ }
  a img {
    border: none;
    /* IE6-9 */ }

strong, b {
  font-weight: bold; }

em, i, dfn {
  font-style: italic; }

ins, u {
  text-decoration: underline; }

del, s {
  text-decoration: line-through; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: smaller; }

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

pre, code, kbd, samp, ruby, rt, rb {
  font-size: 1em;
  font-family: monospace; }

mark {
  background-color: #ff9;
  border-bottom: 1px solid #ff0; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

nav ol, nav ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td, caption {
  text-align: left;
  vertical-align: top; }

[hidden],
template {
  display: none;
  /* IE7-9, FF3, S4 */ }

input, button, textarea, select, optgroup {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  background: transparent;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
  *vertical-align: middle;
  /* IE6-7 */ }

select option {
  border: none; }

input, button {
  line-height: normal;
  /* FF3-4 */ }

button {
  text-transform: none;
  /* Chrome, S5+, IE8+ */
  overflow: visible;
  /* IE8+ */ }

button,
select {
  text-transform: none;
  /* IE8+, FF4+, Opera */
  -webkit-appearance: none;
  /* iOS, S5, Chrome (OS X) */ }

optgroup {
  font-weight: bold; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  /* FF4+ */
  border: 0;
  /* FF4+ */ }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  /* iOS */
  *overflow: visible;
  /* IE7 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* iOS, S5, Chrome (OS X) */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Chrome */ }

textarea {
  vertical-align: top;
  overflow: auto;
  /* IE6-9 */ }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.635em 0.75em; }

legend {
  padding: 0;
  border: 0; }

.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .clearfix {
  height: 1%;
  /* IE6 */ }
*:first-child + html .clearfix {
  min-height: 1px;
  /* IE7 */ }

.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  vertical-align: bottom; }

/**
 * project->functions
 */
/**
 * project->variables
 */
/**
 * project->mixins
 */
/**
 * components->grid
 */
.container {
  width: 96%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto; }

/**
 * components->typography
 */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-size: 16px; }

h1,
h2,
h3,
h4 {
  font-family: Cambria, Georgia, serif;
  font-weight: 400; }

h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-weight: bold; }

h1 {
  font-size: 3.204em;
  line-height: 1.2;
  text-transform: uppercase; }
  @media only screen and (min-width: 40.063em) {
    h1 {
      font-size: 4.806em; } }

h2 {
  font-size: 2.742em;
  line-height: 1.2; }
  @media only screen and (min-width: 40.063em) {
    h2 {
      font-size: 3.375em; } }

h3 {
  font-size: 1.828em;
  line-height: 1.15; }
  @media only screen and (min-width: 40.063em) {
    h3 {
      font-size: 2.25em; } }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 0.949em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; }

p, ul, ol, dl {
  margin: 16px 0;
  line-height: 1.5; }

.lede {
  font-size: 120%;
  line-height: 1.3; }
  @media only screen and (min-width: 40.063em) {
    .lede {
      font-size: 140%; } }

.skew {
  display: inline-block;
  -webkit-transform: skewY(-12deg);
  -moz-transform: skewY(-12deg);
  -ms-transform: skewY(-12deg);
  transform: skewY(-12deg); }

ul, ol {
  margin: 8px 0;
  padding: 0 0 0 35px; }

dl dt {
  font-weight: bold; }
dl dd {
  margin-left: 64px; }

a {
  border-bottom: 1px dotted #959599;
  color: #959599;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }
  a:hover, a:focus {
    color: #716e6d; }

/**
 * site->global
 */
/**
 * site->masthead
 */
/**
 * site->footer
 */
